@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply bg-slate-900
}

.swiper-button-prev:after, .swiper-button-next:after{
    content: '' !important;
}

.swiper-button-next {
    right: 0 !important;
}

.swiper-button-prev {
    left: 0 !important;
}

.swiper-pagination {
    bottom: 0 !important;
    top: auto !important;
    z-index: 99999 !important;
}

.swiper-pagination-progressbar-fill {
    background: rgb(225, 1, 192) !important;
}

.container {
    @apply max-w-7xl mx-auto px-4
}

.swiper-pagination-fraction{
    @apply !text-white !font-comicneue pb-0.5 font-bold
} 

.lgbt {
    background: linear-gradient(180deg, rgba(228,3,3,1) 0%, rgba(255,140,0,1) 16.6%, rgba(255,237,0,1) 33.2%, rgba(0,128,38,1) 49.8%, rgba(36,64,142,1) 66.4%, rgba(115,41,130,1) 83.06%);
}

.swiper-button-disabled {
    @apply !hidden
}

.header {
    @apply flex items-center justify-between py-8 gap-4
}